
@font-face {
  font-family: 'Header';
  src: url('../fonts/windsor_regular-webfont.woff2') format('woff2'),
       url('../fonts/windsor_regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#container {

  margin: 100px auto auto auto;
  padding: 40px;
  text-align: center;
  width: 800px;
  background: url(../img/zig-zag.jpg) no-repeat;
  background-size: cover;
  box-shadow: 0 0 20px #fff;
}

.black-container{
  background-color: #000;

}

a {
  text-decoration: none;
}
p {
  margin-top: 50px;
  font-family: 'Barlow', sans-serif;
  background-color: #fff;
  padding: 4px ;
  /*width: 300px;*/
  border-radius: 15px;
}

body {
  /*background: url(../img/webpage.jpg) no-repeat fixed;*/
  background: linear-gradient(-45deg, rgba(0,0,0,0.65) 100%, rgba(0,0,0,0) 100%), url("../img/webpage.jpg") no-repeat fixed;
  background-size: cover;

}

.top-buttons button{
  width:48.15%;
  margin: 0;
}

button:hover{
  background-color: pink;
}

button{
  font-family: 'Barlow', sans-serif;
  font-size: 20px;
  padding: 14px;
  width: 100%;
  border-radius: 15px;
  box-shadow: 5px 3px 5px blue;
}

form {
  margin: 0 120px 0 120px;
}


h1{
  font-family: "Header", serif;
  font-size: 37px;
  background-color: #fff;
  box-shadow: -2px 5px 15px #fff;
  border-radius: 15px;


}
label {
  display: none;
}

input {
  margin: 5px 2px;
  height: 2.5em;
  font-size: 14px;
  font-family: 'Barlow', sans-serif;
}

input::placeholder{
  font-family: 'Barlow', sans-serif;
  padding-left: 10px;
}

input:focus
{
  background-color: pink;
  color: #000;
  font-weight: bold;
}

.name-div {
  background-color: grey;
}
.name-div input{
  float: left;
  width:48.15%;
}

.low-div input {
  width: 98%
}
